:root{
	--background-color: #FFFAF0;/*#FFFFF0;*/
	--font-color: #333333;
}
*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-size: 20px;
}
body{
	background-color: var(--background-color);
	font-family: "Zain", sans-serif;
	/*'Garamond', serif;*/
	color:var(--font-color);
	/*padding: 0 50px;*/
}
.header,
main,
footer{
	padding: 0 50px;

}
/********** NAVIGAGTION *************/
.header{
	position: sticky;
	top: 0;
	/*padding: 15px 0;*/
	background-color: var(--background-color);
	z-index: 100;
	/*border: solid blue	;*/
}
.nav-bar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*border: solid orange;*/
	/*padding: 	5px;*/
}

/********** BRAND *************/
.brand {
	display: flex;
	flex-direction: column; 
	text-align: left; /* Centers both elements */
	/*border: solid green;*/
	/*padding: 5px;*/
}
.brand-name{ /*I Love Poems*/
	display: inline;
	/*margin-top: 2px;*/
	font-family: "Cormorant Garamond", serif;
	font-size: 1.5rem;
	/*color: var(--background-color);*/
	/*background-color: var(--font-color);*/
	font-weight: 600;
	/*padding: 3px;*/
	/*border: solid	red;*/
}
.logo-wrapper{
	display: inline-block;
	height: 50px;
	width: 200px;
	/*border: solid red ;*/
}
#logo-img {
	background: url('../images/ilovepoems.png') no-repeat;
	width: 100%;
	height: 100%;
	display: block;/*stretches to fill the parent container */
	background-size: contain; /*maintain the aspect ratio and fill the container*/
	/*border: solid blueviolet;	*/
}
/********** END BRAND *************/

.menu-toggle {
	display: none;
}
/* Hamburger menu (hidden by default on desktop) */
.hamburger {
	display: none;
	cursor: pointer;
	padding: 10px;
}
.hamburger span {
	display: block;
	width: 25px;
	height: 3px;
	background: var(--font-color);
	margin: 5px 0;
	transition: transform 0.3s ease, opacity 0.3s ease;
}
.nav-links{
	list-style-type: none;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	row-gap: 20px;
	column-gap: 10px;
	margin: 10px 0;
}
.nav-link{
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	color: var(--font-color);
/*	border: 1px solid red;*/
}
.nav-link:active{
	color: #000000;	
	font-weight: 	bold;
}
.nav-link:hover{
	transform: scale(1.3);
	color: red;
	font-weight: 900;
	transition: transform 0.3s ease-in-out, color 0.3s ease-in-out; /* Adds smooth effect */
}
.nav-link:hover{
	/*box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);*/
}
#header-separator{
	position: fixed;
	/*top: 100px;*/
	left: 0;
	width: 100%;
	height: 1px;
	background: #ccc;
	margin: 0;
	z-index: 99;
	display: block;
}
/********** END NAVIGAGTION *************/

/*********** MESSAGE SECTION ***********/
#message-sec{
	/*background-color: #F8F8FF;*/
	background: url('../images/ChatGPT\ Image\ Nov\ 3\,\ 2025\,\ 10_59_45\ AM.png') no-repeat;
	background-size: cover;	
	padding:15px;
	/*margin: 0 -50px;*/
	/*border: solid red;*/
}
/*#message-sec p{*/
	/*height: 200px;*/
	/*width: 350px;
	margin: 15px auto;
	padding: 15px;
	text-align: center;
	border: dotted red;
}*/
.message-mm{
	max-width: 350px;
	margin: 15px auto;
	padding: 15px;
	text-align: center;
	border-radius: 10px;
	font-size: .9rem;
	background-color: #2C2C2C;
	color: #F5F5F5;
	border: 1px solid #f5f5f5;
	 /*#8b4513;*/
}
/*********** END MESSAGE SECTION ***********/

/*********** DISPLAY SECTION ***********/
#display-sec{
	/*text-align:center;*/
	/*padding-top: 75px;*/
	margin: 75px auto;	
	/*border: 1px solid red;*/
}

#display-sec h2{
	/*border: 1px dotted green;*/
	margin: 20px auto 20px;
	font-size: 2.5rem;
	text-align:center;
}
.translation-tile{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 50px;
	/* max-width: 1200px; */
	margin: 20px auto;
	padding: 30px 0px 30px;
/*	border: 1px solid red;*/
} 
.poem-card-wrapper{
	text-decoration: none;
	color: var(--font-color);
	display:block;
	position: relative;
	width:100%;
	height: 350px;
	border-radius: 10px;
	overflow: hidden;
	border: 1px solid #E6E2D6;
	box-shadow: 0 4px 12px rgba(216, 212, 196, 0.6);
}
.poem-card-wrapper:hover{
	box-shadow: 0 12px 24px rgba(216, 212, 196, 0.8);
	border-color: #C8C4B4;
	background-color: #FFFBEA;
	transform: scale(1.03);
	transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
/*transform: translateY(-0.2rem);*/
}
.poem-card-wrapper:hover .read-more-label {
	color: red;
}
.poem-card-wrapper .poem-title {
	font-size: 1.5rem;
}
.poem-card-wrapper .poet {
	font-size: 1.1rem;
}
.poem-card-wrapper .poem-en{
	font-size: .9rem;
	margin: 15px 0 0;
}
.poem-card-wrapper .poem-mm{
	font-size: .7rem;
	margin: 0;
}
.poem-card{
	/*overflow: hidden;*/
	overflow-x: hidden;
	overflow-y: hidden;
	background-color: #FFFFF0;
	display: block;
	width: 100%;
	height: 100%;
}
.poem-title{
	font-family: "Cormorant Garamond", serif;
	font-size: 2rem;
	font-weight: 600;
	text-transform: capitalize;
}
.poet{
	font-family: "Cormorant Garamond", serif;
	font-size: 1.2rem;
	/*font-style: italic;*/
	font-weight: 600;
	text-transform: capitalize;
	/*text-transform: uppercase;*/
	color: #6e3610;
	/*#2f4f4f;*/
	/*#4b0082;*/
	/*#8b4513;*/
	/*#666666*/
	/*#444444;*/
	/*border: 1px dashed red;*/
}
.poem-en {
	font-family: "Cardo", serif;
	/*font-weight: 500;*/
	font-style: normal;
	font-size: 1rem;
	line-height: 1.6;
	margin: 15px 0;
	/*border: 1px dotted green;*/
}
.poem-mm {
	font-family: "Noto Sans Myanmar", sans-serif;
	font-weight: 400;
	font-size: .8rem;
	line-height: 2;
	margin: 35px 0;
	/*border: 1px double blue;*/
}
.poem-en-preview{
	width: 100%;
	height: 30%;
	overflow: hidden;
}
/*.poem-mm-preview{
}*/
.fade-out-text {
	/*position: relative;*/
	color: var(--font-color);
	background: linear-gradient(to bottom, var(--font-color) 50%, rgba(51, 51, 51, 0.2) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	/*border: 1px solid red;*/
}
.read-more-label{
	position: absolute;
	bottom:0;
	left:0;
	width: 100%;
	background-color:  #F8F8FF;
	color: var(--font-color);
	height: 13%;
	display: flex;
	align-items: center;
	justify-content: center;

}
/*********** END DISPLAY SECTION ***********/
/**********Translation***********/
.poem-translation{
	display: flex;
	flex-direction: column;
	background-color: #FFFFF0;
	padding: 50px;
	border: 1px solid #E6E2D6;
	box-shadow: 0 4px 12px rgba(216, 212, 196, 0.6);
	border-radius: 5px;
}
.poet-wrapper .poet{
	color: #8b4513;
}
.poet-wrapper{
	text-decoration: none;
}
.poet-wrapper:hover .poet {
	color: #5c2e0d;

	text-decoration: underline;
}

.note{
	margin: 25px 0 0;
	border-bottom: 5px solid #2f4f4f;
	font-family: "Cormorant Garamond", serif;
	/*border: 1px dashed black;*/
}
/**********END Translation***********/
hr{
	width: 80%;
	margin: 0px auto;
}

footer{
	height: 100px;
	padding-top: 15px;
	text-align: center;
}

/*------------Media Queires-----------*/
/*@media (max-width: 576px) {*/
	@media (max-width: 768px) {
		/* Show hamburger */
		.hamburger {
			display: block;
			z-index: 101;
		}

		/* Hide nav links by default */
		.nav-links-container {
			position: fixed;
			top: 0;
			right: -100%;
			width: 50%;
			min-width: 150px;
			height: 100vh;
			background: var(--background-color);
			transition: right 0.3s ease;
			z-index: 100;
			border: 1px solid #C8C4B4;
		}

		.nav-links {
			flex-direction: column;
			padding-top: 80px; /* Space for hamburger */  
			row-gap: 0px;
		}
		.nav-links li {
			width: 100%; /* Stretch each list item*/ 
			border-bottom: 1px solid #ccc;
		}
		.nav-link {
			display: block;          /*Ensures full width */
			width: 100%;             /*Stretch to container */
			text-align: center;  
		}
		.nav-links li:last-child{
			border-bottom: none;	/* Optional: remove last border */
		}

		/* When checkbox is checked (menu open) */
		.menu-toggle:checked ~ .nav-links-container {
			right: 0;
		}

		/* Hamburger animation */
		.menu-toggle:checked + .hamburger span:nth-child(1) {
			transform: rotate(45deg) translate(5px, 5px);
		}
		.menu-toggle:checked + .hamburger span:nth-child(2) {
			opacity: 0;
		}
		.menu-toggle:checked + .hamburger span:nth-child(3) {
			transform: rotate(-45deg) translate(7px, -6px);
		}
	}
/*------------END Media Queires-----------*/
