{% extends "poems/base.html" %}
{% block content %}
    <div class="poem-translation">
        <p class="poem-title_en about_ilp">About ILOVEPOEMS</p>
        <p class="poem-mm">
            Python ဘာသာဖြင့် backend technology ကို လေ့လာရင်း ဤ web application ကို စမ်းသပ် ဖန်တီးဖြစ်ခဲ့ခြင်း သာဖြစ်သည်။
        </p>
        <p class="poem-mm">
            မူလကဗျာ‌၏ အကြောင်းအရာ နှင့် စိတ်ခံစားမှု (ဟု ယူဆရသည်များ) များ ကို  မူလအတိုင်း အတတ်နိုင်ဆုံး ထိန်းသိမ်းထားပြီး သာမန်စာဖတ်သူတစ်ဦး၏ တတ်နိုင်စွမ်းဖြင့် မြန်မာမှု ပြုထားခြင်းသာဖြစ်သည်။ ကဗျာတည်ဆောက်ပုံ အမျိုးအစားများကို နားလည်ခြင်းမရှိသည့်အတွက် တည်ဆောက်ပုံ နှင့် ကာရန်များကို မြန်မာမှု ပြုနိုင်ခြင်း၊ ပြုထားခြင်း မရှိပါ။
        </p>
    </p>
    <p class="poem-en citation">
        "The book comes and it goes. When it arrives, it is no longer my book. It is in the hands of readers, and they interpret it differently" (Tan 19:11).
    </p>
    <p class="poem-mm citation">
        "စာအုပ်ရေးတယ်၊ စာအုပ်ထုတ်တယ်။ စာအုပ်ထွက်လာတော့ ကျွန်မစာအုပ် မဟုတ်တော့ဘူး။ စာအုပ်က စာဖတ်သူလက်ထဲမှာ ပြီးတော့ သူတို့ အဓိပ္ပါယ် အမျိုးမျိုးဖွင့်ကြတယ်" (Tan 19:11)။
    </p>
    <p class="poem-mm">
        စာရေးဆရာမ အေမီ တန် ဆိုဖူးသည့်အတိုင်း လူတစ်ဦးချင်းစီတွင် အတွေ့အကြုံ၊ စိတ်ခံစားမှုများ ထွေပြား၊ ကွဲပြားစွာ ရှိသည့်အတွက် ဘာသာပြန်ကဗျာသည် မူလကဗျာမဟုတ်ပဲ ကွဲပြားစွာထွက်ပေါ် လာနိုင်ပြီး ကဗျာဖတ်မိသူတိုင်း ထံတွင်လည်း ကိုယ်ပိုင်မူကွဲပုံစံများ ထွက်ပေါ်လာနိုင်သည်ကို သတိပြုရပေမည်။
    </p>
    <p class="poem-mm">
        <span class="poem-en">ILOVEPOEMS web application</span>
        မှ ကဗျာများသည် ကဗျာဆရာမဟုတ်သော ရှမ်းပြည်ဖွား မြန်မာတစ်ယောက်က ကဗျာများကို နှစ်သက်မိသည့်အတွက် သာမန် ရှမ်းပြည်ဖွား မြန်မာတစ်ယောက်၏ အတွေးဖြင့် ဘာသာပြန်ရန် စမ်းသပ် အားထုတ်မိခြင်းသာဖြစ်သည်။
    </p>
    <p class="note">
        <span class="poem-mm"><b>ကိုးကား</b></span>
        <br>
        Amy Tan. "Where Does Creativity Hide?" TED Talk. <span class="poem-mm">ဖေဖော်ဝါရီ ၂၀၀၈။ (ဗီဒီယို၊ ၁၉:၁၁)
        ရယူရန်—</span> <a class="source" target="_blank">https://www.ted.com/talks/amy_tan_where_does_creativity_hide</a>
    </p>
</div>
{% endblock content %}
