{% extends "poems/base.html" %}
{% block content %}
    <div class="poem-translation">
        <p class="poem-title_en about_ilp">About ILOVEPOEMS</p>
        <p class="poem-mm">
            Python ဘာသာဖြင့် backend technology ကို လေ့လာရင်း ဤ web application ကို စမ်းဖြစ်ခဲ့ခြင်းသာဖြစ်သည်။
        </p>
        <p class="poem-mm">
            မူလကဗျာ‌၏ အကြောင်းအရာ နဲ့ စိတ်ခံစားမှု (ဟု ယူဆရသည်များကို) ကို ‌ပေါ်လွင်စေရန် သာမန်စာဖတ်သူအနေဖြင့် စမ်းသပ် မြန်မာမှု ပြုခြင်းသာဖြစ်ပြီး ကဗျာတည်ဆောက်ပုံ အမျိုးအစားကို နားလည်ခြင်းမရှိသည့်အတွက် တည်ဆောက်ပုံ နှင့် ကာရန်များကို မြန်မာမှုပြုနိုင်ခြင်းမရှိပါ။
        </p>
    </p>
    <p class="poem-en citation">
        "The book comes and it goes. When it arrives, it is no longer my book. It is in the hands of readers, and they interpret it differently" (Tan 19:11).
    </p>
    <p class="poem-mm citation">
        "စာအုပ်ရေးတယ်၊ စာအုပ်ထုတ်တယ်။ စာအုပ်ထွက်လာတော့ ကျွန်မစာအုပ် မဟုတ်တော့ဘူး။ စာအုပ်က စာဖတ်သူလက်ထဲမှာ၊ သူတို့ ကွဲပြားတဲ့ အနက် ယူကောင်း ယူကြလိမ့်မယ်" (Tan 19:11)။
    </p>
    <p class="poem-mm">
        စာရေးဆရာမ အေမီ တန် ပြောသည့်အတိုင်း လူတစ်ဦးခြင်းစီတွင် အတွေ့အကြုံ၊ စိတ်ခံစားမှု ထွေပြား၊ ကွဲပြားစွာ ရှိသည့်အတွက် ဘာသာပြန်ကဗျာသည် မူလကဗျာမဟုတ်ပဲ အသစ်ဖြစ်နိုင်သလို စာဖတ်သူတိုင်းထံတွင်လည်း ကဗျာအသစ် ဖြစ်နေနိုင်ပါသည်။
    </p>
    <p class="poem-mm">
        <span class="poem-en">ILOVEPOEMS web application</span>
        မှ ကဗျာများသည် ရှမ်းပြည်ဖွား မြန်မာတစ်ယောက်က ကဗျာများကို နှစ်သက်သည့်အတွက် သာမန် ရှမ်းပြည်ဖွား မြန်မာတစ်ယောက်လို စမ်းသပ်ဘာသာပြန်ရန် အားထုတ်မိခြင်းသာဖြစ်သည်။
    </p>
    <p class="note">
        <span class="poem-mm"><b>ကိုးကား</b></span>
        <br>
        Amy Tan. "Where Does Creativity Hide?" TED Talk. <span class="poem-mm">ဖေဖော်ဝါရီ ၂၀၀၈။ (ဗီဒီယို၊ ၁၉:၁၁)
        ရယူရန်—</span> https://www.ted.com/talks/amy_tan_where_does_creativity_hide
    </p>
</div>
{% endblock content %}
