{% extends "poems/base.html" %}
{% block content %}
    <div class="poem-translation">
        <div class="poem">

            <p class="poem-title_en">{{ selected_poem.title_en }}</p>
            <span class="poet">By</span>
            <a href="{% url 'poems:poet' selected_poem.poet.id %}"
               class="poet-wrapper">
                <span class="poet">{{ selected_poem.poet.name_en }}</span><!--
            --></a><!--
            
            -->{% if selected_poem.poet.born_year and selected_poem.poet.dead_year %}
                    <span class="poems_list_items poet">({{ selected_poem.poet.born_year }} - {{ selected_poem.poet.dead_year }})</span>
                {% elif selected_poem.poet.born_year %}
                    <span class="poems_list_items poet">(Born - {{ selected_poem.poet.born_year }})</span>
                {% endif %}

                {% comment %} {{ line_count_en }} {% endcomment %}
                             
                {% comment %} <p class="poem-en"> {% endcomment %}
                    {% comment %} {{ selected_poem.poem_en|linebreaksbr|safe }} {% endcomment %}
                    {% comment %} {{ selected_poem.poem_en|linebreaksbr }} {% endcomment %}
                {% comment %} </p> {% endcomment %}
                <div class="poem-en">
                    {{ selected_poem.poem_en|linebreaks }}
                </div>
                <p class="poem-title_mm">{{ selected_poem.title_mm }}</p>
                <span class="poet-mm">—</span>
                <a href="{% url 'poems:poet' selected_poem.poet.id %}"
                class="poet-wrapper">
                <span class="poet-mm">{{ selected_poem.poet.name_mm }}</span><!--
            --></a><!--
            
            -->{% if selected_poem.poet.born_year and selected_poem.poet.dead_year %}
                    <span class="poems_list_items poet">({{ selected_poem.poet.born_year }} - {{ selected_poem.poet.dead_year }})</span>
                {% elif selected_poem.poet.born_year %}
                    <span class="poems_list_items poet">(Born - {{ selected_poem.poet.born_year }})</span>
                {% endif %}

                <div class="poem-mm">
                    {{ selected_poem.poem_mm|linebreaks }}
                </div>             

            </div>
            <div class="note">
                <div>{{ selected_poem.about |linebreaks }}</div>
                {% if selected_poem.source %}
                    <p>
                        Source:
                        <a href="{{ selected_poem.source }}"
                           class="source"
                           target="_blank"
                           rel="noopener noreferrer">
                           {{ selected_poem.source|linebreaksbr }}</a>
                    </p>
                {% endif %}
            </div>
            <hr class="bottom_bar">
        </div>
    {% endblock content %}
