{% extends "poems/base.html" %}
{% block content %}
    <div class="poem-translation">
        <div class="poem">
            {% if all_poet_list %}
                <p class="poem-title_en">All Poets</p>
                {% comment %} <p class='poem-title'>{{ poet.name_en }}</p> {% endcomment %}
                <ol class="list">
                    {% for poet in all_poet_list %}
                        <li class="poems_list_items poet">
                            <span class="poet-wrapper">
                                <a href="{% url 'poems:poet' poet.id %}" class="poet">{{ poet.name_en }}</a>
                            </span>
                        </li>
                    {% endfor %}
                </ol>
            {% endif %}
        </div>
        <hr class="bottom_bar">
        {% comment %} <span class='note'>{{ poet.About }}</span> {% endcomment %}
    </div>
{% endblock %}
