{% extends "poems/base.html" %}
{% block content %}
    <div class="poem-translation">
        <div class="poem">
            {% if poem_list %}
                <p class="poem-title_en">{{ poet.name_en }}</p>
                <p class="poem-en">{{ poet.about }}</p>
                <p class="poem-en poet_work">Poems by {{ poet.name_en }}</p>
                <ol class="list">
                    {% for poem in poem_list %}
                        <li class="poems_list_items poet">
                            <span class="poet-wrapper">
                                <a href="{% url 'poems:poem' poem.id %}" class="poet">{{ poem.title_en|striptags }}</a>
                            </span>
                        </li>
                    {% endfor %}
                </ol>
            {% endif %}
        </div>
        <div class="note poet_about">
            Source:
            <a href="{{ poet.source }}"
               class="source"
               target="_blank"
               rel="noopener noreferrer">{{ poet.source }}</a>
        </div>
        <hr class="bottom_bar">
    </div>
{% endblock content %}
